


body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
}

.card{
    width: auto;
    min-height: 45em;
    border-radius: 5px;
}

.card-body{
    padding: 1rem 0;
    
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.255);
    
  
}

.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row{
    padding-top: 3rem;

}

.overflow{
    overflow: hidden;
    border-radius: 5px;
}


.card-img-top{
    transform: scale(1);
    transition: transform 5.5s ease;
    border-radius: 5px;
    
}

.card-img-top:hover{
    transform: scale(1.8);
    border-radius: 5px;
}