.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;

}

.carousel-caption{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    
    
}

/* Smaller text on mobile devices */
@media (max-width: 768px) {
    .carousel-caption h3 {
      font-size: 1.2rem;
    }
  
    .carousel-caption p {
      font-size: 0.9rem;
    }
  }