

.text-home{
  color: rgb(20, 124, 243);
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
}

.text-home2{
  background-color: rgb(20, 124, 243);
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 800;
  font-family: 'Roboto';
  font-style: normal;
  text-align: left;
  list-style:none;
  height: auto;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1rem 0 1rem 1rem;
  
  
}

.text-hike{
  background-color: rgb(12, 168, 19);
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 800;
  font-family: 'Roboto';
  font-style: normal;
  text-align: left;
  list-style:none;
  height: auto;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1rem 0 1rem 1rem;
  
  
}

.text-esc{
  background-color: rgb(230, 105, 21);
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 800;
  font-family: 'Roboto';
  font-style: normal;
  text-align: left;
  list-style:none;
  height: auto;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1rem 0 1rem 1rem;
  
  
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}



